<header>
  <h1 class="congrats">Kankan</h1>
  <hr>
</header>

<section>
  <h2>Board Show</h2>
  
  <h3>Lanes</h3>
  <ul id="lanes">
    <% _.each(lanes, function(l) { %>
      <li><a data-bypass href="#" class="lane_link" data-lane-id="<%= l.id %>"><%= l.get('title') %></a></li>
    <% }); %>
  </ul>
</section>

<table class="board">
  <thead>
    <tr>
      <% _.each(lanes, function(l) { %>
        <th><%= l.get('title') %></th>
      <% }); %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% _.each(lanes, function(l) { %>
        <td id="lane_<%= l.id %>"></td>
      <% }); %>
    </tr>
  </tbody>
</table>