@import 'nib'

#main {
  margin: 40px;
  font-size: 14px;
}

#main pre {
  min-width: 320px;
  border-radius: 10px;
  color: #333;
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  padding-right: 40px;
  background: #F8FAFC;
}

#main a {
  color: #00CCFF;
}

#main a:hover {
  color: #FE57A1;
}

#main img {
  width: 320px;
  height: auto;
}

#main p {
  line-height: 28px;
}

#main ul.nested {
  margin-top: 0;
  margin-bottom: 0;
}

#main ul li {
  line-height: 28px;
}

#main header h1 {
  display: inline-block;
  color: #333;
}

#main header h2:not(.congrats) {
  color: #666;
  margin: 0; padding: 0;
}

#main header .congrats {
  padding-bottom: 0;
  margin-bottom: 0;
  color: #00CCFF;
  display: inline-block;
  font-size: 28px;
}

#main .topic {
  color: #CCC;
}

#main .clues {
  color: #FE57A1;
}


// TODO: Work out which of the default boilerplate styles (above) are actually needed

$color1 = #C4D4CB
$color2 = #55665E
$color3 = #30282A
$color4 = #542733
$color5 = #E84167

body
  background $color1
  padding-top 40px

h2
  color $color2
  font-size 36px
  margin 20px 0

.login input
  display block
  margin-bottom 5px

.board_link
  color $color2

.board th
  font-size 2em
  padding-bottom 20px

.board td
  border-top 1px solid $color2
  padding-top 20px

.card
  background white
  border 5px solid $color4
  cursor pointer
  height 100px
  margin-bottom 10px
  padding 10px
  width 200px
  
  border-radius 10px

.modal
  padding 20px

#my-modal .close
  margin 0