#main {
  margin: 40px;
  font-size: 14px;
}
#main pre {
  min-width: 320px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #333;
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  padding-right: 40px;
  background: #f8fafc;
}
#main a {
  color: #0cf;
}
#main a:hover {
  color: #fe57a1;
}
#main img {
  width: 320px;
  height: auto;
}
#main p {
  line-height: 28px;
}
#main ul.nested {
  margin-top: 0;
  margin-bottom: 0;
}
#main ul li {
  line-height: 28px;
}
#main header h1 {
  display: inline-block;
  color: #333;
}
#main header h2:not(.congrats) {
  color: #666;
  margin: 0;
  padding: 0;
}
#main header .congrats {
  padding-bottom: 0;
  margin-bottom: 0;
  color: #0cf;
  display: inline-block;
  font-size: 28px;
}
#main .topic {
  color: #ccc;
}
#main .clues {
  color: #fe57a1;
}
body {
  background: #c4d4cb;
  padding-top: 40px;
}
h2 {
  color: #55665e;
  font-size: 36px;
  margin: 20px 0;
}
.login input {
  display: block;
  margin-bottom: 5px;
}
.board th {
  font-size: 2em;
  padding-bottom: 20px;
}
.board td {
  border-top: 1px solid #55665e;
  padding-top: 20px;
}
.card {
  background: #fff;
  border: 5px solid #542733;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.modal {
  padding: 20px;
}
#my-modal .close {
  margin: 0;
}

