body {
  background: #c4d4cb;
  font-size: 14px;
  padding-top: 40px;
}
h2 {
  color: #55665e;
  font-size: 36px;
  margin: 40px 0 30px 0;
}
.login input {
  display: block;
  margin-bottom: 5px;
}
.board_link {
  color: #55665e;
}
.board {
  margin-top: 20px;
}
.board th {
  font-size: 16px;
  padding-bottom: 20px;
}
.board td {
  border-top: 1px solid #55665e;
  padding-top: 20px;
}
.card {
  background: #fff;
  border: 5px solid #542733;
  cursor: pointer;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.modal {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 5px solid #542733;
  padding: 20px;
}
.modal h2 {
  font-size: 24px;
  margin: 0 0 10px 0;
}
#cardModal .close {
  margin: 0;
}
#addCardButton {
  margin-left: 3px;
}

